/* h1,
a {
  color: red;
}
/* Selecione todo a que existe no HTML*/
/* html a {
  color: black;
} 

html body a {
  color: black;
}
 
*/

#intro {
  color: gold;
}
.codigo {
  color: blue;
}

.design {
  color: red;
}

.azul {
  color: blue;
}

.underline {
  text-decoration: underline;
}

.grande {
  font-size: 32px;
}
