img {
  max-width: 100%;
  display: block;
}

div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

h1 {
  grid-column: 1 / -1;
}

/* max: menor que | min: maior que */
@media (max-width: 600px) {
  div {
    grid-template-columns: 1fr;
  }

  h1 {
    background: lightpink;
  }

  img {
    display: none;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  p {
    background: lightskyblue;
  }
}

@media screen {
  body {
    background: pink;
  }
}

@media print {
  body {
    background: green;
  }
}

/* screen só vai aplicar na tela, caso use o @media print, ele aplica na impressão */
